@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
    font-family: "Montserrat", sans-serif;
    background-color: white;
}

.login-hard {
    margin-top: 90px;
    
}

.login-card-body {
    padding-top: 50px;
    padding-bottom: 50px;
}

.login-btn {
    background-color: #2eb997;
    border:none;
    padding: 5px 40px 5px 40px;
}
.login-card{
 margin: 90px auto 0 auto;
 max-width: 600px;
 border:4px solid #2eb9962c;
 border-radius: 20px;
}
.container{
    max-width:1260px;
}
.login-input{
    max-width: 350px ;
    margin:auto;
    padding-top: 10px;
    padding-bottom: 10px;

}

.login-input input{
    border:#2eb997 solid 2px ;
    }